aiofiles
asgiref
bleach
blinker
certifi
charset-normalizer
click
Flask[async]
idna
itsdangerous
Jinja2
kaggle
MarkupSafe
python-dateutil
python-slugify
requests
six
text-unidecode
tqdm
urllib3
webencodings
Werkzeug
